# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Libmpvcpp
/x64/Debug
/Libmpvcpp.sln
/Libmpvcpp.vcxproj
/Libmpvcpp.vcxproj.filters
/Libmpvcpp.vcxproj.user
/main.cpp
/mpv/include/mpv
/x64/Release
